<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <link rel="stylesheet" href="static/css/styles.css"/>
    <link rel="stylesheet" href="static/bootstrap/dist/css/bootstrap.min.css"/>
    <script src="static/Flat-UI/dist/js/vendor/jquery.min.js"></script>
    <script src="static/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="static/Flat-UI/dist/js/flat-ui.min.js"></script>
    <title>基于大数据的图书分析系统</title>

</head>
<body>
<!-- Static navbar -->
<div class="navbar navbar-default navbar-static-top" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only"></span>
            </button>
            <a class="navbar-brand" href="/admin">基于大数据图书分析系统</a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li><a href="/adminuser">用户信息</a></li>
                <li><a href="/adminbook">书籍信息</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right hidden-sm">
                <li><a>{{userid}}</a></li>
                <li><a href="/logout">注销</a></li>
            </ul>
        </div><!--/.nav-collapse -->
    </div>
</div>
<!--content-->
<div class="container">
    <div class="row thumbnail center">
        <div class="col-sm-12">
            <h1 class="text-center" style="margin-bottom: 30px">系统后台管理</h1>
        </div>
    </div>
</div>

</body>
</html>